*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.heading{
  background-color: #FF9A4B;

  height:50px;
  
}

main{
  width: 960px;
  display: flex;
  margin: 50px auto;
}

.box1{
  width: 300px;
  margin-right: 30px;
  padding: 10px;
  position: relative;
  background-color: #eee;
}
.box1:last-child{
  margin-right: 0;
}
.step-img1{
  background-image: url(img/flow01.png);
  background-position: bottom;
  height: 150px;
  background-size: cover;
}
.step-img2{
  background-image: url(img/flow02.png);
  background-position: bottom;
  height: 150px;
  background-size: cover;
}
.step-img3{
  background-image: url(img/flow03.png);
  background-position: bottom;
  height: 150px;
  background-size: cover;
}

.list1{
  padding: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
}

.title{
  margin: 15px 0 5px;
}
footer{
 
  height: 50px;
  background-color: #AAAAAA;
 
}

@media screen and (max-width:768px){
  main{
    width: 100%;
    display: block;
    
  }
  
  .box1{
    width: 90%;
   
   
    margin:20px;
    
  }
  .box1:last-child{
    margin-right: 0;
  }
  
  .list1{
    padding: 3px;
    
    
  }
  
  .title{
    margin: 15px 0 5px;
  }
 
}